@model FabricStore.Web.Models.ProductDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <div class="col-md-3">
        @Html.Partial("_PartialPageCategories", @ViewData["Categories"])
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                <h1>@Model.Name</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <img src="@Url.Action("GetImage", "Products", new { id = Model.Id })" alt="@Model.Name" class="img-responsive img-thumbnail" />
                </div>
                <div class="col-md-6">
                    <address>
                        <strong>Manufacturer:</strong> <span>@Model.Manufacturer.Name</span><br>
                        <strong>Category:</strong> <span>@Html.ActionLink(@Model.Category.Name, "Details", "Categories", new { id = @Model.Category.Id }, null)</span><br>
                    </address>
                    <div>
                       @foreach (var tag in Model.Tags)
                       {
                           <span>@tag.Name</span>
                       }
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>
                        <strong>Price: $@Model.Price /kg</strong><br><br>
                    </h2>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="tabbable">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#1" data-toggle="tab">Description</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="1">
                                        <p>
                                            @Model.Description
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3>Comments:</h3>
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="row table-bordered">
                                <h4>By: @comment.AuthorName</h4>
                                <p>@comment.Content</p>
                                <p>@comment.DateCreated</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            
        </div>
    </div>   
    <p>
        @Html.ActionLink("Back to List", "List", "Products")
    </p>
